.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #385694;
    margin-left: -8;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: "verdana", verdana;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 3px;
    color: white;
} 

.topnav a:hover {
    background-color: lightslategray;
}

body {
    background-color: white;
    background-size: cover;
    background-position: center;
}

div {
    font-size: 18;
    text-align: center;
    color: black;
}

.abouttxt{
    width:60%;
    margin: auto;
    padding-top:100px;
    padding-bottom: 100px;
    border-bottom: 1px solid lightslategray
}

.aboutpics{
    width:60%;
    margin:auto;
    padding-top: 60px;
    padding-bottom: 100px;
}

.words {
    margin-top: 20;
    margin-left: 100;
    margin-right: 100;
}

.projects {
    font-size: 30;
    text-align: center;
    color: #485C8A;
    padding-bottom: 20px;
}

.carr {
    width:100%;
}

.yps {
    width:100%
}

.signatureblack{
    width:80%;
    padding-bottom:20px;
}

.bridge {
    position: center;
    width: 100%;
}